


<ion-header>
    <ion-toolbar>
            <ion-title class="subtitulo ion-text-wrap">
             configuracion de productos   
            </ion-title>

            <ion-buttons slot="start">
                <ion-button (click)="openMenu()">
                    <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div style="text-align:end; margin: 10px;">
        <ion-button (click)="nuevo()" style="margin: 10px;" color="dark" >nuevo</ion-button>
    </div>

    <div *ngIf="enableNewProductos">

        <h4 class="subtitulo encabezado">Ingrese datos del producto</h4>

        <ion-item>
            <ion-buttons slot="end" >
                <ion-button (click)="enableNewProductos=false;">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
                <ion-button (click)="guardarProducto()">        
                    <ion-button>        
                     <ion-button style="margin: 10px;" expand="full" color="dark" 
                     >guardar</ion-button>
                </ion-button>
            </ion-buttons>
        </ion-item>
    
        <ion-item>
            <ion-label class="normal" position="floating">
                    Nombre:
            </ion-label>
            <ion-input [(ngModel)]="newProducto.nombre"  class="normal" type="text" inputmode="text">
            </ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label class="normal" position="floating">
                    Precio:
            </ion-label>
            <ion-input [(ngModel)]="newProducto.precioNormal" class="normal" type="number" inputmode="numeric">
            </ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label class="normal" position="floating">
                    Precio reducido:
            </ion-label>
            <ion-input [(ngModel)]="newProducto.precioReducido" class="normal" type="number" inputmode="numeric">
            </ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label class="normal">
                    foto
            </ion-label>
          <ion-buttons slot="end">
            <ion-button>
                <label for="file-upload">
                  <ion-icon slot="icon-only" name="images"></ion-icon>
                </label>
                 <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"  accept="image/*">
             </ion-button>
          </ion-buttons>
        
        </ion-item>

        <ion-item>
            <img class="image" [src]="newProducto.foto">
          </ion-item>

    </div>


   




    <ion-item *ngFor="let producto of productos">
        <ion-label class="normal">{{producto.nombre}}</ion-label>
        <ion-buttons slot="end">
            <ion-button (click)="newProducto = producto; enableNewProductos=true;">
                <ion-icon  slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>

            <ion-button (click)="deleteProducto(producto)">
                <ion-icon slot="icon-only" color="danger" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
  
</ion-content>